body {
  background-color: rgb(78, 77, 82);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(78, 77, 82);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.word-container {
  padding-top: 10%;
  font-size: 24px;
  margin-bottom: 20px;
  width: 80%;
  white-space: pre-wrap;  /* Preserve white space and line breaks */
  background-color: rgb(48, 48, 48);  /* Adjust background color if needed */
  padding: 10px;
  border-radius: 5px;
}

.letter {
  font-weight: bold;
  margin: 0 2px;
}

.correct {
  color: rgb(157, 157, 157);
}

.incorrect {
  color: rgb(206, 35, 35);
}

input {
  font-size: 18px;
  padding: 10px;
  width: 300px;
}

.algorithm-info {
  margin-bottom: 20px;
  text-align: left;
  width: 80%;
  background-color: rgb(48, 48, 48);  /* Adjust background color if needed */
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.algorithm-info h2 {
  margin: 0 0 10px;
  flex: center;
}

.algorithm-info pre {
  white-space: pre-wrap;  /* Preserve white space and line breaks */
  font-size: 16px;
}

.algorithm-info code {
  display: block;
  white-space: pre-wrap;  /* Preserve white space and line breaks */
  font-family: monospace;
}
